ul {
    list-style-type: none;
    margin-top:0;
    left:0;
    top:0;
    position:fixed;
    padding: 0;
    width: 16.5%;
    background-color: #f1f1f1;
    font-family:Rajdhani;
    font-weight:600;
    text-align:center;
    float:left;
    display:inline-block;
    font-size:18px;
    height:100%;
    overflow:auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #555;
    color: white;
}
li:hover {
	font-size:21px;
}
/*p{
font-family:Rajdhani;
margin-left:16.5%;
color:orange;
font-size:30px;
}*/
body{margin:0;}
.whybealifeguard{
background:url(https://s-media-cache-ak0.pinimg.com/originals/6f/22/12/6f22122d5c52e0cb752a278542ec8012.jpg)  no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;	
	margin:0
}

.whybealifeguard p{
	font-family:Rajdhani;
	/*margin-left:16.5%;*/
	color:yellow;
	font-size:30px;	
	margin-top:0;
	margin-bottom:0;
}

.physicalfitness{
	background:url(https://static.pexels.com/photos/3158/black-and-white-africa-animals-wilderness.jpg)  no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	margin:0;
}
.physicalfitness p{
	font-family:Rajdhani;
	margin-left:5%;
	color:pink;
	font-size:30px;
	margin-top:0;
	margin-bottom:0;
}
.whosdrowning{
	background:url(https://static.pexels.com/photos/823/black-and-white-waves-close-up-view-circle.jpg)  no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;	
	margin:0;
}
.whosdrowning p{
	font-family:Rajdhani;
	/*margin-left:16.5%;*/
	color:blue;
	font-size:30px;
	margin-top:0;
	margin-bottom:0;
}

